.body-about {
    color: white;
    margin-top: 30%
}

.About {
    background: linear-gradient(-45deg, #f5018f, #ff6422, #b6408b, #6619ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}