.inputform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
}

/*----------------------------------------------------------*/

.inputbox{
    background-color: white;
    width: 200%;
    height: 25px;
    margin: 10px 0 ;
    border: 0px;
    padding: 0 5px;
}