.app-header {
    background-color: #9c9b98;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    text-align: center;
    padding: 0 10px;
}

.left-header {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
}

.right-header {
    align-items: center;
    display: flex;
    justify-content: center;
}


/*----------------------------------------------------------------*/

.applogo {
    width: 10%;
}

.applogo:hover {
    cursor: pointer;
}

.avatar {
    object-fit: cover;
    width: 90px;
    height: 90px;
    border-radius : 50%;
    border: 1px solid #B5B4B2;
    margin: 10px 0;
    
}
.btnlinks {
    border: 0px solid;
    background-color: transparent;
    display: none;
}

.headingtext {
    font-family: 'Inter';
    font-weight: 900;
}

.link {
    color: black;
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
    position: relative;

}

.link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #595856;
    transform-origin: bottom right;
    transition: transform 0.40s ease-out;
}

.link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

