footer {
    background-color: #150a33;
    text-align: center;
    position: absolute;
    margin-top: auto;
    width: 100%;
    height:10vh;
}

/*-----------------------------------------*/

.footer-text {
    color: white;
    font-size: 0.8vw;
}