 @import url('https://fonts.googleapis.com/css2?family=Antonio&family=Inter:wght@400;600;700;900&family=Jura&display=swap');
 
body {
  background-color: #B5B4B2;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 10px;
}